/*============Footer Styles============*/

.f-container {
  background-color: #FFF;
  margin-top: -10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
  padding: 20px 0 40px 0;
  border-bottom: 3px solid #1d355e;
}

.f-logo {
  display: flex;
}

/*============Footer Menu============*/

.f-menu {
  display: flex;
  flex-direction: row;
}

.f-product {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 15px;
  color: #1D355E;
  font-weight: 700;
}

.f-menu-item {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
}

.f-icons-wrapper {
  display: flex;
  margin: 20px auto;
}

.f-menu-icon {
  text-decoration: none;
  margin-right: 10px;
}

