/*============Footer Styles============*/

.f-container {
  background-color: #FFF;
  margin-top: -10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
  padding: 20px 0 40px 0;
  border-bottom: 3px solid #1d355e;
}

.f-logo {
  display: flex;
}

/*========Footer Menu Groups========*/

.f-1, .f-2 {
  display: flex;
  flex-direction: row;
}

/*============Footer Menu============*/

.f-menu {
  display: flex;
  flex-direction: row;
}

.f-product {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 15px;
  color: #1D355E;
  font-weight: 700;
}

.f-menu-item {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
}

.f-icons-wrapper {
  display: flex;
  margin: 20px auto;
}

.f-menu-icon {
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

/*============Media Queries============*/

@media screen and (min-width: 1000px) {
  .f-icons-wrapper-mobile,
  .f-logo-mobile {
    display: none;
  }

}

@media screen and (max-width: 1000px ){

  .f-container {
    background-color: #FAFAFA;
  }

  .footer {
    flex-direction: column;
  }

  .f-1, .f-2 {
    flex-direction: column;
  }

  .f-logo-mobile {
    display: flex;
  }

  .f-logo-mobile, .f-menu {
    justify-content: space-around;
  }

  .f-logo {
    display: none;
  }

  .f-product {
    margin-top: 40px;
    font-size: 30px;
    height: 300px;
  }

  .f-menu-item {
    font-size: 35px;
  }

  .f-icons-wrapper {
    display: none;
  }

  .f-icons-wrapper-mobile {
    margin: 20px 0;

  }

}
