/*==========Legal Styles==========*/

.legal {
  background-color: #FFF;
  
}

.legal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 4%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 300;
}

.copyright {
  display: flex;
}

.legal-menu {
  display: flex;
  flex-direction: row;
}

.legal-item {
  display: flex;
  margin-left: 20px;
}