/*==========Legal Styles==========*/

.legal {
  background-color: #FFF;
  
}

.legal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 4%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 300;
}

.copyright {
  display: flex;
}

.legal-menu {
  display: flex;
  flex-direction: row;
}

.legal-item {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
}

/*=============Media Queries=============*/

@media screen and (min-width: 1000px) {
  .legal-menu-mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px ){
  .legal {
    background-color: #FAFAFA;
  }

  .legal-container {
    font-size: 25px;
    color: #595959;
    margin-top: 10px;
  }

  .legal-menu-mobile {
    display: flex;
    flex-direction: row;
  }

  .legal-menu {
    display: none;
  }
}