/*========Main Product Styles========*/

.main-product {
  background-color: #1D58BC;
  margin: 0 -5vw;
  height: 450px;
}

.mp-container {
  color: #fff;
  margin-left: 10%;
  padding: 50px 0;
}

.mp-name {
  font-size: 30px;
}

.mp-desc {
  font-size: 25px;
  padding: 0 5% 30px 0;
}

.mp-button {
  border: none;
  border-radius: 2px;
  padding: 0 5%;
  font-size: 18px;
  height: 40px;
  cursor: pointer;
  color: #1D58BC;
  background-color: #fff;
}

/*=============Media Queries=============*/

@media screen and (max-width: 1000px ){
  .mp-button {
    color: #32ADE6;
    border-radius: 5px;
    font-size: 25px;
    height: 60px;
    margin-left: 30px;
  }

  .mp-container {
    margin-right: 5%;
  }
}