/*==============Product Styles==============*/

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  min-height: 275px;
  margin: 20px 0;
  border: 0.5px solid #595959;
  background: #FFF;
}

.product-icon {
  display: flex;
  margin: 0 1%;
}

.lead {
  display: flex;
  margin: 0 4%;
  margin-top: 1%;
  font-size: 28px;
  font-weight: bold;
}

.sub {
  display: flex;
  margin: 4%;
  font-size: 25px;
}

.see-how {
  display: flex;
  margin: 0 4%;
  /*margin-bottom: 5px;*/
  text-decoration: none;
  font-size: 16px;
  color: #32ADE6;
  cursor: pointer;
}